<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>评论列表</title>
    <style>
        *{margin:auto auto; padding:0 0;}
        .box{
            margin-top:100px;
            width:1200px;
            height:500px;
            border:1px solid red;
            }
    </style>
</head>
<body>
    <div class="box">
        <div style="width:100%; height:30px; border:1px solid red; text-align:center;"><b>评论列表</b></div>
        <table action="" method="" border="1" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td>q</td>
                <td>q</td>
                <td>w</td>
                <td>e</td>
            </tr>
        </table>
    </div>
</body>
</html>