<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>意见反馈</title>
    <style>
    *{margin:auto auto; padding:0 0;}
        .box{
            margin-top:50px;
            width:1200px;
            height:400px;
            /*border:1px solid red;*/
        }
    </style>
</head>
<body>
    <div class="box">
    <h2 style="margin-left:250px;">意&nbsp;&nbsp;见&nbsp;&nbsp;反&nbsp;&nbsp;馈&nbsp;&nbsp;</h2><br>
        <from action="" method="">
               核心问题:<input type="text" name="" style="width:400px;height:30px;"><br><br>
               留&nbsp;言:<input type="text" name="" style="width:700px;height:300px;border:1px solid #A9A9A9;margin-left:15px;"><br>
               <input type="submit" value="提交" style="width:50px;height:30px;">
        </from>
    </div>
</body>
</html>