<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript">window.__trace__headstart = +new Date;
            window.__server__startTime = 1490966480345;
            window.__token = "CTdRLNX56DG%2BOHmZk%2Fd9y%2BHCQ%2B6NVWB4OMFFbfD5P15%2FWhXI4zaxX7enFbwUhTSR";</script>
        <link rel="dns-prefetch" href="http://s6.mogucdn.com/">
        <link rel="dns-prefetch" href="http://s7.mogucdn.com/">
        <link rel="dns-prefetch" href="http://s6.mogujie.cn/">
        <link rel="dns-prefetch" href="http://s7.mogujie.cn/">
        <link rel="dns-prefetch" href="http://s8.mogujie.cn/">
        <link rel="dns-prefetch" href="http://s9.mogujie.cn/">
        <link rel="dns-prefetch" href="http://s12.mogujie.cn/">
        <link rel="dns-prefetch" href="http://s13.mogujie.cn/">
        <meta http-equiv="Cache-Control" content="no-transform ">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>设置激活邮箱_蘑菇街</title>
        <meta name="keywords" content="蘑菇街,mogujie,买手街,买手,网购">
        <meta name="description" content="">
        <meta name="copyright" content="mogujie.com">
        <link rel="search" type="application/opensearchdescription+xml" href="http://portal.mogujie.com/opensearch.xml">
        <link rel="icon" href="http://s16.mogucdn.com/new1/v1/bmisc/3ce382db3c8aaca5d07bd36711e77134/171169993508.ico" type="image/x-icon">
        <script type="text/javascript">var curl = {
                apiName: 'require'
            };
            var MOGU = {};
            var MoGu = {};
            var MOGU_DEV = 0 || "online" == "pre";
            var M_ENV = "online";</script>
        <link href="__PUBLIC__/showEmail/index.css-6f9e6f5a.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/showEmail/bottom.css" media="all">
        <link href="__PUBLIC__/showEmail/index.css-cf0d1128.css" rel="stylesheet" type="text/css">
        <!--[if lte IE 8]>
            <script src="https://s10.mogucdn.com/__mfp/meili-lib/assets/0.0.3/es5-shim.js,mfp/meili-lib/assets/0.0.3/es5-sham.js,mfp/meili-lib/assets/0.0.3/console-polyfill.js,mfp/meili-lib/assets/0.0.3/json2.js"></script>
        <![endif]-->
        <script type="text/javascript" src="__PUBLIC__/showEmail/pkg-pc-base.js-5299c175.js.下载"></script>
        <script type="text/javascript">if (window.require) {
                require.config({
                    domain: 0
                });
            }

            MOGUPROFILE = {};</script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/showEmail/ie67upgrade.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/showEmail/bottom(1).css"></head>
    
    <body class="media_screen_1200">
        <script type="text/javascript">/**
    ** for layout 960
    **/
            (function() {
                var wWidth = $(window).width();
                if (wWidth < 1212) {
                    $('body').addClass('media_screen_960');
                } else {
                    $('body').addClass('media_screen_1200');
                }
                //initTime for log 判断对象是否存在
                window.MoGu && $.isFunction(MoGu.set) && MoGu.set('initTime', (new Date()).getTime());

                var ua = navigator.userAgent;
                // 判断是否是ipad
                var is_plat_ipad = ua.match(/(iPad).*OS\s([\d_]+)/);
                if (is_plat_ipad) {
                    $('body').addClass('media_ipad');
                }
                // 判断是否是ipadApp
                var is_plat_ipadApp = ua.indexOf('MogujieHD') >= 0 || ua.indexOf('Mogujie4iPad') >= 0 || location.href.indexOf('_atype=ipad') >= 0;
                if (is_plat_ipadApp) {
                    $('body').addClass('media_ipad_app');
                    // 隐藏头尾
                    $('body').append('<style type="text/css">.header_2015,.header_nav,.foot .foot_wrap{display: none;}.foot{height: 0;background: none;}.back2top_wrap{height:0;width:0;overflow:hidden;opacity:0;}</style>');
                    // 移除购物车，返回顶部
                    setTimeout(function() {
                        $('.back2top_wrap').remove();
                    },
                    1000)
                }
            })();</script>
        <div id="body_wrap">
            <div class="nickname_wrap">
                <div class="logo_wrap">
                    <div class="logo">
                        <a title="蘑菇街" href="" class="logo_img"></a>
                    </div>
                </div>
                <div class="nickname_box">
                    <div class="reg_bd reg_bd_other ui-nickname-content">
                            <div class="ui-valid-title">
                                <div class="ui-valid-nick-title">
                                    <div class="ui-title-inner">
                                        <div id="set-pic" class="ui-set-pic fl">
                                        </div>
                                        <div class="ui-infor">
                                            <p class="ui-text">邮件发送成功，请前去验证！</p>
                                            <a href="{:U('Index/index')}">暂不验证，去首页逛逛</a>
                                            <a href="{:U('User/login')}">已经验证，去登陆</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="modelform" class="formbox info_add_box">
                                <div class="formelem ui-valid-main" style="display: block;">
                                    <p id="nameTips" class="ui-name-tip"></p>
                                        <div id="setName" class="ui-item ui-set-name validateitem">
                                            <ul id="show-name-list" class="ui-name-list"></ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="token" data-token=""></div>
        <div class="foot J_siteFooter" data-ptp="_foot"></div>
        <!-- IE低版本处理方式 -->
        <!--[if lte IE 8]>
            <script src="https://s10.mogucdn.com/__mfp/meili-mgj-browser-update/assets/0.0.3/index.js,mfp/meili-mgj-ie67-upgrade/assets/0.1.8/ie67upgrade.js"></script>
        <![endif]-->
        <script type="text/javascript" src="__PUBLIC__/showEmail/index.js-9fa638bd.js.下载"></script>
        <script type="text/javascript" src="__PUBLIC__/showEmail/bottom.js.下载"></script>
        <script type="text/javascript" src="__PUBLIC__/showEmail/index.js-fbdbdbaa.js.下载"></script>
       
        <script type="text/javascript" src="__PUBLIC__/showEmail/m.mgj.js.下载"></script>
        <script type="text/javascript" src="__PUBLIC__/showEmail/index.min.js.下载"></script>
        <script type="text/javascript">

             function checkEmail()
             {
                var pattern = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

                if($('input[name=Email]')[0].value.length ==""){
                    $('#error_tips').html("邮箱不能为空！");
                    return false;
                }
                if(!$('input[name=Email]')[0].value.match(pattern) ){
                     $('#error_tips').html("邮箱格式不正确");
                    return false;
                } 
             }

            



        </script>


        <object style="position:absolute;left:-500px;top:-500px" data="data:application/x-silverlight-2," type="application/x-silverlight-2" id="mysilverlight" width="0" height="0">
            <param name="source" value="/assets/evercookie.xap">
            <param name="onLoad" value="onSilverlightLoad">
            <param name="onError" value="onSilverlightError">
            <param name="background" value="Transparent">
            <param name="windowless" value="true">
            <param name="minRuntimeVersion" value="4.0.50401.0">
            <param name="autoUpgrade" value="false">
            <a href="" style="display:none">Get Microsoft Silverlight</a></object>
        <script src="__PUBLIC__/showEmail/ie67upgrade.js.下载"></script>
        <object style="position:absolute;left:-500px;top:-500px" data="data:application/x-silverlight-2," type="application/x-silverlight-2" id="mysilverlight" width="0" height="0">
            <param name="initParams" value="FRMS_FINGERPRINTN=Ggmzp0ExTrywFEL_UCXjBwHYdc5VckWcvG8ndroRAbDe-">
            <param name="source" value="/assets/evercookie.xap">
            <param name="onLoad" value="onSilverlightLoad">
            <param name="onError" value="onSilverlightError">
            <param name="background" value="Transparent">
            <param name="windowless" value="true">
            <param name="minRuntimeVersion" value="4.0.50401.0">
            <param name="autoUpgrade" value="false">
            <a href="" style="display:none">Get Microsoft Silverlight</a></object>
        <script src="__PUBLIC__/showEmail/zop"></script>
        <script src="__PUBLIC__/showEmail/poz"></script>
        <object style="position:absolute;left:-500px;top:-500px" data="data:application/x-silverlight-2," type="application/x-silverlight-2" id="mysilverlight" width="0" height="0">
            <param name="source" value="/assets/evercookie.xap">
            <param name="onLoad" value="onSilverlightLoad">
            <param name="onError" value="onSilverlightError">
            <param name="background" value="Transparent">
            <param name="windowless" value="true">
            <param name="minRuntimeVersion" value="4.0.50401.0">
            <param name="autoUpgrade" value="false">
            <a href="" style="display:none">Get Microsoft Silverlight</a></object>
        <object style="position:absolute;left:-500px;top:-500px" data="data:application/x-silverlight-2," type="application/x-silverlight-2" id="mysilverlight" width="0" height="0">
            <param name="initParams" value="FRMS_FINGERPRINTN=Ggmzp0ExTrywFEL_UCXjBwHYdc5VckWcvG8ndroRAbDe-">
            <param name="source" value="/assets/evercookie.xap">
            <param name="onLoad" value="onSilverlightLoad">
            <param name="onError" value="onSilverlightError">
            <param name="background" value="Transparent">
            <param name="windowless" value="true">
            <param name="minRuntimeVersion" value="4.0.50401.0">
            <param name="autoUpgrade" value="false">
            <a href="" style="display:none">Get Microsoft Silverlight</a></object>
        <div id="userdata_el" style="visibility: hidden; position: absolute;"></div>
    </body>

</html>